@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

code {
    font-family:"Source Code Pro", monospace;
}

h1, h2, h3, h4, h5 {
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    font-weight: 400
}

/*
  This is an empty file for backward compatibility.
  Custom font used to be defined here.
  It will be removed eventually.
*/
